*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new-task-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-task-container input {
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightskyblue;
    outline: 0px;
}

.new-task-container .add-button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: lightyellow;
    border: 1px solid lightskyblue;
    cursor: pointer;
}

.task-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    background-color: lightskyblue;
    padding: 30px 30px;
    border-radius: 10px;
}

.task-container ul {
    width: 100%;
}

.task-container ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightyellow;
    padding: 5px;
}

.task-container ul li .task-text {
    cursor: pointer;
}

.task-container ul li .delete-task {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through red;
}